node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example


*.zip
release/
release-local/
*.keystore
capacitor-cordova-android-plugins/
android/app/build/
android/capacitor-android/build/
android/capacitor-cordova-android-plugins/build/
*.aab
